
* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}

h3 {
  color:white;
}

h4 {
  text-align: center;
}

#uv {
  width: 20px;
}

.hero {
  padding: 40px;
  text-align: center;
  color: white;
}  

.card {
  margin: 0 0 10px 0;
  background-color: white;
}

.searchBtn {
  color: white;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
}

.forecast-container img {
  display: block;
  margin: 0 auto;
}

.forecast {
  background-color: #3CB3C0;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

